{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block title %} {{ titulo | upper}} {% endblock title %}
{% block content %}

    <!--------------------------MODALES ----------------------------->
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->
    <section class="tables">
        <div class="container-fluid">
            {#              <div class="row">#}
              <div class="col-lg-3">
               <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
            </div>
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">

{#                         <a href="#" class="btn btn-primary" title="Agregar"> <i class="fa fa-plus-circle"></i> Proveedor</a>#}
                        <button onclick="return abrir_modal('{% url 'personal:personal_add' %}')" class="btn btn-success"><i class="fa fa-plus-circle "> </i> Personal</button>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Cédula/Ruc</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Tipo</th>
                                <th>Fecha Ingreso</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for persona in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>

                                    <td>{{ persona.perfil.nombres  }}</td>
                                    <td>{{ persona.perfil.cedula}}</td>
                                    <td>{{ persona.perfil.email }}</td>
                                    <td>{{ persona.perfil.celular }}</td>
                                    <td>{{ persona.tipo }}</td>
                                    <td>{{ persona.fecha_ingreso }}</td>
                                    <td>
                                        <a href="{% url 'personal:personal_update' persona.pk %}" title="Editar"> <i class="fa fa-edit"></i></a>
                                        <a href="{% url 'personal:personal_delete' persona.pk %}" title="Borrar"> <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <h3>No hay datos que mostrar!</h3>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}


