{% extends 'base.html' %}
{#{% load staticfiles %}#}
{% load static %}

{% block title %}  {% endblock title %}

{% block content %}

    <!--------------------------MODAL ----------------------------->
    <div id="popup" class="modal fade" role="dialog"></div>


    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="row bg-white has-shadow">
                <h2>{% now "j F Y" %}</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row bg-white has-shadow">

                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                    <div class="item d-flex align-items-center">
                        <div class="icon bg-violet"><i class="fa fa-cutlery"></i></div>
                        <div class="title"><span>PEDIDOS</span>
                            <div class="progress">
                                <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-violet"></div>
                            </div>
                        </div>
                        <div class="number"><strong>{{ total_pedidos }}</strong></div>
                    </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                    <div class="item d-flex align-items-center">
                        <div class="icon bg-red"><i class="fa fa-users"></i></div>
                        <div class="title"><span>CLIENTES</span>
                            <div class="progress">
                                <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-red"></div>
                            </div>
                        </div>
                        <div class="number"><strong>{{ total_clientes }}</strong></div>
                    </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                    <div class="item d-flex align-items-center">
                        <div class="icon bg-orange"><i class="fa fa-money"></i></div>
                        <div class="title"><span>CAJA</span>
                            <div class="progress">
                                <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-orange"></div>
                            </div>
                        </div>
                        <div class="number"><strong>{{ total_ventas.total_sum }}</strong></div>
                    </div>
                </div>
                <!-- Item -->
                <div class="col-xl-3 col-sm-6">
                    <div class="item d-flex align-items-center">
                        <div class="icon bg-green"><i class="fa fa-th-large"></i></div>
                        <div class="title"><span>Mesas<br>Disponibles</span>
                            <div class="progress">
                                <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-green"></div>
                            </div>
                        </div>
                        <div class="number"><strong>{{ total_mesas }}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Header Section    -->
    <section class="dashboard-header">
        <div class="container-fluid">
            <div class="row">
                <!-- Statistics -->

                {% for mesa in mesas %}
                    <div class="statistics col-lg-3 col-12">
                        {% if mesa.diponible %}
                            <div style="cursor: pointer" class="statistic d-flex align-items-center bg-white has-shadow"
                                 onclick="return abrir_modal('{% url 'pedido:mesa_open' mesa.pk %}')">
                                <div class="icon bg-green"><i class="fa fa-cutlery"></i></div>
                                <div class="text"><strong>Mesa {{ forloop.counter }}</strong><br>
                                    <small>Disponible</small>
                                </div>
                            </div>
                        {% else %}

                            <div style="cursor: pointer" class="statistic d-flex align-items-center bg-white has-shadow" onclick="crear_pedido('{% url 'pedido:crear_pedido' mesa.pk%}')">

                                <div class="icon bg-red"><i class="fa fa-cutlery"></i></div>
                                  <div class="text"><strong>Mesa {{ forloop.counter }}</strong><br>
                                <small>Ocupada</small>
                                  </div>

                            </div>

                        {% endif %}

                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Projects Section-->
    <section class="projects no-padding-top">
        <div class="container-fluid">
            <!-- Project-->
            <div class="project">
                <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                        <div class="project-title d-flex align-items-center">
                            <div class="image has-shadow"><img src="img/project-1.jpg" alt="..." class="img-fluid"></div>
                            <div class="text">
                                <h3 class="h4">Project Title</h3>
                                <small>Lorem Ipsum Dolor</small>
                            </div>
                        </div>
                        <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                    </div>
                    <div class="right-col col-lg-6 d-flex align-items-center">
                        <div class="time"><i class="fa fa-clock-o"></i>12:00 PM</div>
                        <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                        <div class="project-progress">
                            <div class="progress">
                                <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-red"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project-->
            <div class="project">
                <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                        <div class="project-title d-flex align-items-center">
                            <div class="image has-shadow"><img src="img/project-2.jpg" alt="..." class="img-fluid"></div>
                            <div class="text">
                                <h3 class="h4">Project Title</h3>
                                <small>Lorem Ipsum Dolor</small>
                            </div>
                        </div>
                        <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                    </div>
                    <div class="right-col col-lg-6 d-flex align-items-center">
                        <div class="time"><i class="fa fa-clock-o"></i>12:00 PM</div>
                        <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                        <div class="project-progress">
                            <div class="progress">
                                <div role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-green"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project-->
            <div class="project">
                <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                        <div class="project-title d-flex align-items-center">
                            <div class="image has-shadow"><img src="img/project-3.jpg" alt="..." class="img-fluid"></div>
                            <div class="text">
                                <h3 class="h4">Project Title</h3>
                                <small>Lorem Ipsum Dolor</small>
                            </div>
                        </div>
                        <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                    </div>
                    <div class="right-col col-lg-6 d-flex align-items-center">
                        <div class="time"><i class="fa fa-clock-o"></i>12:00 PM</div>
                        <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                        <div class="project-progress">
                            <div class="progress">
                                <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-violet"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project-->
            <div class="project">
                <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                        <div class="project-title d-flex align-items-center">
                            <div class="image has-shadow"><img src="img/project-4.jpg" alt="..." class="img-fluid"></div>
                            <div class="text">
                                <h3 class="h4">Project Title</h3>
                                <small>Lorem Ipsum Dolor</small>
                            </div>
                        </div>
                        <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                    </div>
                    <div class="right-col col-lg-6 d-flex align-items-center">
                        <div class="time"><i class="fa fa-clock-o"></i>12:00 PM</div>
                        <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                        <div class="project-progress">
                            <div class="progress">
                                <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100" class="progress-bar bg-orange"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}



{% block javascripts %}
    {{ block.super }}

    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }


        function crear_pedido(url) {
            location.href = url;
            return false;
        }
    </script>

{% endblock %}


