{% load staticfiles %}
{% load static %}
{#{% load crispy_forms_f %}#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EL REMANSO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/static/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="/static/css/google_fonts.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>EL REMANSO</h1>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form id="login-form" method="post">{% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <p>{{ error | safe }}</p>
                            {% endfor %}
                                <div class="form-group">
                                    <input id="login-username" type="text" name="username" required="" class="input-material">
                                    <label for="login-username" class="label-material">Usuario</label>
                                    {% if form.username.errors %}
                                        <p> {{ form.username.errors }} </p>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <input id="login-password" type="password" name="password" required="" class="input-material">
                                    <label for="login-password" class="label-material">Contraseña</label>
                                    {% if form.password.errors %}
                                        <p> {{ form.password.errors }} </p>
                                    {% endif %}
                                </div>
{#                                <a id="login" href="index.html" >Login</a>#}
                                <button type="submit" class="btn btn-primary">Entrar</button>






                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <p>Desarrollado por <a href="http://www.monkiapps.com" class="external">MonkiApps</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </div>
</div>
<!-- Javascript files-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/vendor/popper.js/umd/popper.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/js/front.js"></script>
</body>
</html>