{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} {{ titulo }} {% endblock title %}
{% block head %} {{ titulo | upper}} {% endblock %}
{% block content %}

    <!--------------------------MODALES ----------------------------->
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->
    <section class="tables">
        <div class="container-fluid">
            {#              <div class="row">#}

            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">

{#                         <a href="#" class="btn btn-primary" title="Agregar"> <i class="fa fa-plus-circle"></i> Proveedor</a>#}
                        <a href="{% url 'personal:cliente_add' %}" class="btn btn-success"><i class="fa fa-plus-circle"> </i> Cliente</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Cédula/Ruc</th>
                                <th>Correo</th>
                               <th>Teléfono</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cliente in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ cliente.perfil.nombres }}</td>
                                    <td>{{ cliente.perfil.cedula}}</td>
                                    <td>{{ cliente.perfil.email }}</td>
                                    <td>{{ cliente.perfil.celular }}</td>
                                    <td>
                                        <a href="{% url 'personal:cliente_update' cliente.pk %}" title="Editar"> <i class="fa fa-edit"></i></a>
                                        <a href="{% url 'personal:cliente_delete' cliente.pk %}" title="Borrar"> <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <h3>No hay datos que mostrar!</h3>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}


