{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% load  filters %}
{% block title %} {{ titulo }} {% endblock title %}
{% block head %} {{ titulo | upper}} {% endblock %}
{% block content %}
<!-- Content -->

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
{#            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
            <h4 class="modal-title">{{ titulo_modal }}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data" action=""> {% csrf_token %}

                {% for field in form_perfil %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field|addclass:'form-control' }}
                        </div>
                    </div>
                {% endfor %}



                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Guardar">Guardar</button>
                            <button onClick="javascript:history.go(-1)" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}




