{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block title %} {{ titulo }} {% endblock title %}
{% block content %}

    <!--------------------------MODALES ----------------------------->
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->
    <section class="tables">
        <div class="container-fluid">
            {#              <div class="row">#}

            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">

{#                         <a href="#" class="btn btn-primary" title="Agregar"> <i class="fa fa-plus-circle"></i> Proveedor</a>#}
                        <a href="{% url 'proveedor:producto_add' %}" class="btn btn-success"><i class="fa fa-plus-circle "> </i> Producto</a>

                    </div>
                    <div class="card-body">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>En Stock</th>
                                 <th>Unidad de medida</th>
                                <th>Fecha Caducidad</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for producto in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ producto.nombre }}</td>
                                    <td>{{ producto.categoria}}</td>
                                    <td>{{ producto.precio |floatformat:2 }}</td>
                                    <td>{{ producto.cantidad}}</td>
                                    {% if producto.existencia_actual > producto.alerta %}
                                        <td> <button title="Actualizar Stock" onclick="return abrir_modal('{% url 'proveedor:actualizar_stock' producto.pk %}')" class="btn bg-green">
                                        {{ producto.existencia_actual}}</button></td>
                                     {% else %}
                                          <td> <button title="Actualizar Stock" onclick="return abrir_modal('{% url 'proveedor:actualizar_stock' producto.pk %}')" class="btn bg-red">
                                        {{ producto.existencia_actual}}</button></td>
                                    {% endif %}
                                    <td>{{ producto.unidad_medida }}</td>
                                    <td>{{ producto.fecha_caducidad}}</td>
                                    <td><a href="{% url 'proveedor:producto_update' producto.pk %}" title="Editar"> <i class="fa fa-edit"></i></a>
                                        <a href="{% url 'proveedor:producto_delete' producto.pk %}" title="Borrar"> <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <h3>No hay datos que mostrar!</h3>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}


