{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block title %} {{ titulo }} {% endblock title %}
{% block content %}

    <!--------------------------MODALES ----------------------------->
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->
    <section class="tables">
        <div class="container-fluid">
            {#              <div class="row">#}

            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">

{#                         <a href="#" class="btn btn-primary" title="Agregar"> <i class="fa fa-plus-circle"></i> Proveedor</a>#}
                        <a  href="{% url 'pedido:mesa_add' %}" class="btn btn-success">
                            <i class="fa fa-plus-circle "> </i> Mesa </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>Mesa</th>
                                <th>disponible</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mesa in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{% if mesa.diponible %}Si{% else %}No {% endif %}</td>
                                   <td>
{#                                    <a href="{% url 'proveedor:proveedor_update' mesa.pk %}" title="Editar"> <i class="fa fa-edit"></i></a>#}
                                        <a href="{% url 'pedido:mesa_delete' mesa.pk %}" title="Borrar"> <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <h3>No hay datos que mostrar!</h3>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}


