
{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} {{ titulo }} {% endblock title %}
{% load  filters %}
{% block head %} {{ titulo | upper}} {% endblock %}
{% block content %}
<!-- Content -->

<!-- Modal -->
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"> Mesas </h4>
        </div>
        <div class="modal-body">
             <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Guardar">Guardar</button>
                            <button onClick="javascript:history.go(-1)" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}







