{% extends 'base.html' %}
{% load filters %}
{% load staticfiles %}
{% load static %}


{% block title %} {{ titulo | upper }} {% endblock title %}
{% block content %}

    <!--------------------------MODALES ----------------------------->
    <div id="popup" class="modal fade" role="dialog"></div>
    <!--------------------------------------------------------------->
    <section class="tables" id="pedidoPage">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-5">
                    <div class="client card">
                        <div class="card-body text-center">
                            <div><i class="fa fa-cutlery fa-3x"></i>
                            </div>

                            <div class="client-title">
                                <h3>Mesa {{ pedido.mesa.id }}</h3>
                                <p> Cliente: {{ pedido.pedido_a_nombre }}</p><span> Observación: {{ pedido.observaciones }}</span>
                            </div>
                            <div class="client-title"><a class="bg-red" href="{% url 'pedido:pedido_delete' pedido.pk %}">Cancelar Pedido</a></div>


                            <div class="client-info">
                                <div class="row">
                                    <div class="col-4"><strong>{{ pedido.fecha|date:"m-d-Y" }}</strong><br>
                                        <small>FECHA</small>
                                    </div>
                                    <div class="col-4"><strong>{{ pedido.fecha|time:"H:i" }}</strong><br>
                                        <small>HORA</small>
                                    </div>
                                    <div class="col-4"><strong># {{ total_pedidos }}</strong><br>
                                        <small>PEDIDO</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div id="accordion">
                            <h3 class="text-center">MENÚ</h3><br>
                            <input type="hidden" id="myVar" name="plato" value="{{ menus }}">
                            {% for menu in menus %}
                                <div class="card">
                                    <div class="card-header" id="heading{{ forloop.counter }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" style="text-align: center; width: 100%;" data-toggle="collapse"
                                                    data-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                                                    aria-controls="collapse{{ forloop.counter }}"> {{menu.categoria  }}
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            {% for plato in  menu.platos %}
                                                <div class="project">
                                                    <div class="row bg-white has-shadow">
                                                        <div class="left-col col-lg-10 d-flex align-items-center justify-content-between">
                                                            <div class="project-title d-flex align-items-center">
                                                                <div class="image has-shadow"><img src="{% static 'img/project-3.jpg' %}" alt="..."
                                                                                                   class="img-fluid"></div>
                                                                <div class="text">
                                                                    <h3 class="h4">{{ plato.nombre  }} </h3>
                                                                    <small>{{ plato.descripcion }} </small>
                                                                </div>
                                                            </div>
                                                            <div class="project-date">$ {{ plato.precio | floatformat:2 }} </div>
                                                        </div>
                                                        <div class="right-col col-lg-2 d-flex align-items-center">

                                                            <a href="{% url 'pedido:add_menu_pedido' mesa=pedido.mesa.id  menu=plato.id pedido=pedido.id %}" alt="Agregar" style="cursor: pointer; color: #28a745"><i class="fa fa-plus-square fa-2x "></i></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>


                <div class="col-lg-7">
                    <div class="client card">
                        <div class="card-body text-center">

                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4"><i class="fa fa-list"> </i> Lista de Pedidos</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr class="bg-gray">
                                            <th>Cantidad</th>
                                            <th>Detalle</th>
                                            <th>P. Unitario</th>
                                            <th>P. Total</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in pedidos %}

                                        <tr>
                                            {#                                            <th scope="row">1</th>#}
                                            <td><a href="{% url 'pedido:restar_menu_pedido' mesa=p.pedido.mesa.id  menu=p.menu.id pedido=p.pedido.id %}" alt="Agregar" style="cursor: pointer; font-size: x-large; color: #28a745">
                                                <i class="fa fa-minus-square"></i></a> {{ p.cantidad_solicitada }}
                                                <a href="{% url 'pedido:add_menu_pedido' mesa=p.pedido.mesa.id  menu=p.menu.id pedido=p.pedido.id %}" alt="Agregar" style="cursor: pointer;font-size: x-large; color: #28a745">
                                                <i class="fa fa-plus-square"></i></a>
                                            </td>
                                            <td> {{ p.menu.nombre }}</td>
                                            <td>$  {{ p.menu.precio  | floatformat:2 }}</td>
                                            <td>$ {{ p.cantidad_solicitada |multiplicar:p.menu.precio | floatformat:2}}</td>
                                            <td style="color: red"><i onclick="eliminarPedido('{% url 'pedido:delete_menu_pedido' mesa=p.pedido.mesa.id  menu=p.menu.id pedido=p.pedido.id %}')" class="fa fa-trash "
                                                                      style="cursor: pointer; font-size: x-large; color:red"></i></td>


                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                </div>

                            </div>

                            <div class="row">
                                {% if totalCobrar != 0 %}
                                <div class="col-lg-4">
                                    <i class="fa fa-money fa-2x"> </i><br>
                                    <strong class="text-center">$ {{ totalCobrar | floatformat:2 }} </strong><br>
                                    <small>Por cobrar</small>
                                </div>
                                <div class="col-lg-8 text-right">

                                        <button href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"> <i class="fa fa-money"> </i> COBRAR </button>


                                </div>
                                {% endif %}
                            </div>


                        </div>
                    </div>


                </div>


            </div>


        </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">CERRAR MESA </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>


    </section>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/vue-resource@1.3.5' %}"></script>

    <script>
        const API_MENUS = 'http://localhost:9000/pedidos/api_menus/';
        var pedido = new Vue({
            el: '#pedidoPage',
            delimiters: ['[[', ']]'],

            data: {
                subtotal: 0, precio_total: 0, iva: null, descuento: null, cantidad: 0, producto: '', total_pagar: 0,
                platos: null, menus: null, pedidos: [], total_cobrar: 0
            },
            methods: {
                getOrganigrama: function () {
                    this.menus = JSON.parse(document.getElementById("myVar").value);
                    console.log(this.menus);
                    this.$http.get(API_MENUS).then(function (response) {
                        {#this.estado = this.organigrama.estados.find(estado => estado.name === 'Empleado').pk;#}
                        {#this.cargarDirectivos();#}
                    }, function (error) {
                        console.log(error.statusText);
                    });
                },
                formatPrice: function (value) {
                    var val = (value / 1).toFixed(2).replace('.', ',');
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                },

                agregarPedido: function (plato) {
                    {#this.menu = document.getElementById("myVar").value;#}
                    console.log(plato);
                    var existe = this.pedidos.findIndex(p => p.id === plato.id);


                    if (existe >= 0) {
                        console.log('ya existe');
                        plato.cantidad += 1;
                        this.pedidos.sort();
                    } else {
                        plato['cantidad'] = 1;

                        this.pedidos.push(plato);
                    }

                },

                eliminarPedido: function (plato) {
                    var index = this.pedidos.findIndex(p => p.id === plato.id);
                    this.pedidos.splice(index, 1);
                    this.total_cobrar -= plato.cantidad * plato.precio;
                },

                restarPedido: function (plato) {
                    plato.cantidad--;
                    this.total_cobrar -= plato.precio;
                    if (plato.cantidad == 0) {
                        var index = this.pedidos.findIndex(p => p.id === plato.id);
                        if (index > -1) {
                            this.pedidos.splice(index, 1);
                        }
                    } else {
                        this.pedidos.sort();
                    }

                }


            },

            computed: {
                totalCobrar: function () {
                    var total = 0;
                    for (var i = 0; i < this.pedidos.length; i++) {
                        total += this.pedidos[i].precio * this.pedidos[i].cantidad;
                    }
                    this.total_cobrar = total;
                    return this.formatPrice(this.total_cobrar);

                },

                totalPedido: function (cantidad, precio) {
                    return cantidad * precio;

                }
            },

            mounted: function () {
                this.getOrganigrama();
                {#this.cargarDirectivos();#}
            }


        });


    </script>

    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function eliminarPedido(url) {
            location.href = url;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}

{#<div class="col-lg-12">#}
{#                    <div id="accordion">#}
{#                        <h3 class="text-center">MENÚ</h3><br>#}
{#                        <input type="hidden" id="myVar" name="plato" value="{{ menus }}">#}
{#                        <div class="card" v-for="(menu, index) in menus">#}
{#                            <div class="card-header" :id="'heading'+index">#}
{#                                <h5 class="mb-0">#}
{#                                    <button class="btn btn-link" style="text-align: center; width: 100%;" data-toggle="collapse"#}
{#                                            :data-target="'#collapse'+index" aria-expanded="false"#}
{#                                            :aria-controls="'collapse'+index"> [[menu.categoria]]#}
{#                                    </button>#}
{#                                </h5>#}
{#                            </div>#}
{##}
{#                            <div :id="'collapse'+index" class="collapse" :aria-labelledby="'heading'+index"#}
{#                                 data-parent="#accordion">#}
{#                                <div class="card-body">#}
{##}
{#                                    <div class="project" v-for="(plato, index) in menu.platos">#}
{#                                        <div class="row bg-white has-shadow">#}
{#                                            <div class="left-col col-lg-10 d-flex align-items-center justify-content-between">#}
{#                                                <div class="project-title d-flex align-items-center">#}
{#                                                    <div class="image has-shadow"><img src="{% static 'img/project-3.jpg' %}" alt="..."#}
{#                                                                                       class="img-fluid"></div>#}
{#                                                    <div class="text">#}
{#                                                        <h3 class="h4">[[ plato.nombre ]]</h3>#}
{#                                                        <small>[[ plato.descripcion ]]</small>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="project-date">$ [[formatPrice(plato.precio) ]]</div>#}
{#                                            </div>#}
{#                                            <div class="right-col col-lg-2 d-flex align-items-center">#}
{##}
{#                                                <div alt="Agregar" style="cursor: pointer; color: #28a745" v-on:click="agregarPedido(plato)"><i#}
{#                                                        class="fa fa-plus-square fa-2x "></i></div>#}
{##}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{##}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                    </div>#}
{#                </div>#}
{#<div class="col-lg-7">#}
{#                    <div class="client card">#}
{#                        <div class="card-body text-center">#}
{##}
{#                            <div class="card">#}
{#                                <div class="card-header d-flex align-items-center">#}
{#                                    <h3 class="h4"><i class="fa fa-list"> </i> Lista de Pedidos</h3>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <table class="table">#}
{#                                        <thead>#}
{#                                        <tr class="bg-gray">#}
{#                                            <th>Cantidad</th>#}
{#                                            <th>Detalle</th>#}
{#                                            <th>P. Unitario</th>#}
{#                                            <th>P. Total</th>#}
{#                                             <th></th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        <tr v-for="pedido in pedidos">#}
{#                                            <th scope="row">1</th>#}
{#                                            <td><i v-on:click="restarPedido(pedido)" class="fa fa-minus-square " style="cursor: pointer; font-size: x-large; color:#28a745">#}
{#                                                </i> [[pedido.cantidad]] <i v-on:click="agregarPedido(pedido)" class="fa fa-plus-square" style="cursor: pointer; font-size: x-large; color:#28a745 "></i>#}
{#                                            </td>#}
{#                                            <td>[[pedido.nombre]]</td>#}
{#                                            <td>$ [[formatPrice(pedido.precio)]]</td>#}
{#                                            <td>$ [[formatPrice(pedido.precio * pedido.cantidad)]]</td>#}
{#                                            <td style="color: red"><i  v-on:click="eliminarPedido(pedido)" class="fa fa-trash " style="cursor: pointer; font-size: x-large; color:red"></i></td>#}
{##}
{##}
{#                                        </tr>#}
{##}
{#                                        </tbody>#}
{#                                    </table>#}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{#                                <div class="row">#}
{##}
{#                                    <div class="col-lg-4">#}
{#                                        <i class="fa fa-money fa-2x"> </i><br>#}
{#                                        <strong class="text-center">$ [[totalCobrar]]</strong><br>#}
{#                                        <small>Por cobrar</small>#}
{#                                    </div>#}
{#                                      <div class="col-lg-8 text-right">#}
{#                                       <a href="#" class="btn btn-success"> <i class="fa fa-money"> </i> COBRAR </a>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{##}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                </div>#}
