{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% load  filters %}
{% block title %} {{ titulo }} {% endblock title %}
{% block content %}
    <!-- Content -->

    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {#            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
                <h4 class="modal-title">{{ titulo_modal }}</h4>
            </div>
            <div class="modal-body">
                 <h3>¿Seguro quiere eliminar el pedido?</h3><br>
                <form method="POST" action="">{% csrf_token %}

{#                    <input class="bg-danger" type="submit" value="Eliminar"/>#}
                    <button type="submit" class="btn btn-danger" name="submit" value="Guardar">Eliminar</button>
                            <button onClick="javascript:history.go(-1)" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </form>

            </div>

        </div>
    </div>
{% endblock %}




