{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block title %} {{ titulo }} {% endblock title %}
{% block content %}

    <!--------------------------MODALES ----------------------------->
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->
    <section class="tables">
        <div class="container-fluid">
            {#              <div class="row">#}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
{#                         <a href="#" class="btn btn-primary" title="Agregar"> <i class="fa fa-plus-circle"></i> Proveedor</a>#}
                        <a href="{% url 'pedido:pedido_add' %}" class="btn btn-success"><i class="fa fa-plus-circle "> </i> Pedido</a>

                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>cliente </th>
                                <th>mesa</th>
                                <th>Mesero</th>
                                <th>Estado</th>
                                <th>Valor Total</th>
                                <th>Fecha</th>
                                <th>notificado</th>
                                <th>Observaciones</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pedido in object_list %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
{#                                    <td>{{ pedido.imagen }}</td>#}
                                    <td>{{ pedido.cliente.nombres | upper }}  {{ pedido.cliente.cedula }}</td>
                                    <td>{{ pedido.mesa }}</td>
                                    <td>{{ pedido.camarero.nombres | upper }}</td>
                                    <td>{{ pedido.estado }}</td>
                                    <td>{{ pedido.valor_total |floatformat:2 }}</td>
                                    <td>{{ pedido.fecha}}</td>
                                    <td>{{ pedido.notificado}}</td>
                                     <td>{{ pedido.observaciones }}</td>
                                    <td><a href="#" title="Editar"> <i class="fa fa-edit"></i></a>
                                        <a href="#" title="Borrar"> <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <h3>No hay datos que mostrar!</h3>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}


