{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}El Remanso{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap4.min.css' %}">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    {#        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">#}
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="{% static 'css/google_fonts.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="page home-page">
    <!-- Main Navbar-->
    <header class="header">
        <nav class="navbar">
            <!-- Search Box-->
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="What are you looking for..." class="form-control">
                </form>
            </div>
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand --><a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big"><span>Hosteria</span> <strong> El Remanso</strong></div>
                        <div class="brand-text brand-small"><strong>BD</strong></div>
                    </a>
                        <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Search-->
                        <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                        <!-- Notifications-->
                        <li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown"
                                                         aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span
                                class="badge bg-red">12</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages</div>
                                        <div class="notification-time">
                                            <small>4 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                        <div class="notification-time">
                                            <small>4 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>
                                        <div class="notification-time">
                                            <small>4 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                        <div class="notification-time">
                                            <small>10 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all
                                    notifications </strong></a></li>
                            </ul>
                        </li>


                        <!-- Logout    -->
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link logout">Salir<i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h4">Mark Stephen</h1>
                    <p>Web Designer</p>
                </div>
            </div>
            <!-- Sidebar Navidation Menus-->
            {#            <span class="heading">Main</span>#}
            <ul class="list-unstyled">
                <li class="{{ inicio_activo }}"><a href="{% url 'home' %}"><i class="fa fa-home"></i>INICIO</a></li>
                <li class="{{ pedido_activo }}"><a href="{% url 'pedido:pedidos_list' %}"> <i class="icon-padnote"></i>PEDIDOS </a></li>
                 <li class="{{ menu_activo }}"><a href="{% url 'menu:menu_list' %}"> <i class="fa fa-cutlery"></i>MENÚ</a></li>
                <li class="{{ personal_activo }}"><a href="{% url 'personal:personal_list' %}"> <i class="fa fa-address-card"></i>PERSONAL </a></li>
                {#                <li class="{{ proveedor_activo }}"><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-shopping-basket"></i>COMPRAS</a>#}
                {#                    <ul id="dashvariants" class="collapse list-unstyled">#}
                {#                        <li class="{{ proveedor_activo }}"><a  href="{% url 'proveedor:proveedor_list' %}"> <i class="fa fa-truck"></i>PROVEEDORES </a></li>#}
                {#                        <li class="{{ producto_activo }}"><a href="{% url 'proveedor:producto_list' %}"> <i class="fa fa-cart-plus"></i>PRODUCTOS </a>#}
                {##}
                {##}
                {#                    </ul>#}
                {#                </li>#}
                <li class="{{ cliente_activo }}"><a href="{% url 'personal:cliente_list' %}"> <i class="fa fa-users"></i>CLIENTES</a></li>
                <li class="{{ proveedor_activo }}"><a href="{% url 'proveedor:proveedor_list' %}"> <i class="fa fa-truck"></i>PROVEEDORES </a></li>
                <li class="{{ producto_activo }}"><a href="{% url 'proveedor:producto_list' %}"> <i class="fa fa-shopping-basket"></i>PRODUCTOS </a>
                <li class="{{ mesa_activo }}"><a href="{% url 'pedido:mesas_list' %}"> <i class="fa fa-building"></i>MESAS </a>
                <li class="{{ ayuda_activo }}"><a href="#"> <i class="fa fa-question-circle"></i>AYUDA</a>
{#                <li class="{{ ayuda_activo }}"><a href="#"> <img src="{% static 'img/terrace.svg' %}" style="height: 15px; width: 15px" alt="Kiwi standing on oval"> AYUDA</a>#}
            </ul>
        </nav>

        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">{% block head %} {{ titulo| upper }}    {% endblock %} </h2>

                </div>
            </header>
            {% block content %}

            {% endblock content %}
            <!-- Page Footer-->
            <footer class="main-footer">


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>El Remanso &copy; 2017-2019</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                        </div>
                    </div>
                </div>

            </footer>
        </div>

    </div>


    {% block javascripts %}
        <!-- Javascript files-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
{#        <script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>#}
        <script src="{% static 'vendor/bootstrap/js/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap4.min.js' %}"></script>
        <script src="/static/vendor/jquery.cookie/jquery.cookie.js"></script>
        <script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="/static/js/charts-home.js"></script>
        <script src="/static/js/front.js"></script>
    {% endblock %}
</div>
</body>
</html>