{#{% extends 'base.html' %}#}
{#{% load staticfiles %}#}
{#{% load static %}#}


{% load  filters %}
<!-- Modal -->
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ titulo_modal }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>

        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data" action="{% url 'menu:actualizar_stock' menu %}"> {% csrf_token %}


                    <div class="form-group">

                        <label class="col-sm-4 control-label" for="cantidad">Cantidad</label>
                        <div class="col-sm-8">
                            <input id="cantidad" name="cantidad" type="number" value="{{ cantidad_anterior }}">
                        </div>
                    </div>


                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Guardar">Guardar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>




