{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block title %} {{ titulo }} {% endblock title %}
{% block content %}

    <!--------------------------MODALES ----------------------------->
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->
    <section class="tables">
        <div class="container-fluid">
            {#              <div class="row">#}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
{#                         <a href="#" class="btn btn-primary" title="Agregar"> <i class="fa fa-plus-circle"></i> Proveedor</a>#}
                        <a href="{% url 'menu:menu_add' %}" class="btn btn-success"><i class="fa fa-plus-circle "> </i> Menú</a>

                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
{#                                <th>Imágen</th>#}
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Precio</th>
                                <th>Cantidad_diaria</th>
                                 <th>En Stock</th>
                                <th>descripcion</th>
                                <th>Activo</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for menu in object_list %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
{#                                    <td>{{ menu.imagen }}</td>#}
                                    <td>{{ menu.nombre }}</td>
                                    <td>{{ menu.categoria}}</td>
                                    <td>{{ menu.precio |floatformat:2 }}</td>
                                    <td>{{ menu.cantidad_diaria }}</td>
                                     {% if menu.existencia_actual > menu.alerta %}
                                        <td> <button title="Actualizar Stock" onclick="return abrir_modal('{% url 'menu:actualizar_stock' menu.pk %}')" class="btn bg-green">
                                        {{ menu.existencia_actual}}</button></td>
                                     {% else %}
                                          <td> <button title="Actualizar Stock" onclick="return abrir_modal('{% url 'menu:actualizar_stock' menu.pk %}')" class="btn bg-red">
                                        {{ menu.existencia_actual}}</button></td>
                                    {% endif %}
                                    <td>{{ menu.descripcion}}</td>
                                    <td>{{ menu.activo}}</td>
                                    <td><a href="{% url 'menu:menu_update' menu.pk %}" title="Editar"> <i class="fa fa-edit"></i></a>
                                        <a href="{% url 'menu:menu_delete' menu.pk %}" title="Borrar"> <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <h3>No hay datos que mostrar!</h3>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}


