{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} {{ titulo }} {% endblock title %}
{% load  filters %}
{% block head %} {{ titulo | upper}} {% endblock %}
{% block content %}
<!-- Content -->



<!-- Modal -->
{#MODAL CATEGORIA#}
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ titulo_modal }}</h4>
             <button onclick="return abrir_modal('{% url 'menu:categoria_create' %}')" class="btn btn-success"><i class="fa fa-plus-circle "> </i> Categoría
                        </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data" action="{% url 'menu:menu_add' %}"> {% csrf_token %}

                {% for field in form_producto %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field|addclass:'form-control' }}
                        </div>
                    </div>
                {% endfor %}

                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Guardar">Guardar</button>
{#                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>#}
                            <a class="btn btn-danger" href="javascript:history.go(-1)">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock %}




